WcfLaboratorio.Calculadora/Calculadora/Service References/ServiceReferenceCalculadora/Core.Numero.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/Core.Numero" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/Core.Numero" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="Numero">
    <xs:sequence>
      <xs:element minOccurs="0" name="elNumero" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="laBase" type="xs:int" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="Numero" nillable="true" type="tns:Numero" />
</xs:schema>