WcfLaboratorio.Calculadora/Calculadora/Service References/ServiceReferenceCalculadora/service.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import namespace="http://schemas.datacontract.org/2004/07/WcfLaboratorio.Calculadora" />
  <xs:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
  <xs:import namespace="http://schemas.datacontract.org/2004/07/Core.Numero" />
  <xs:element name="GetData">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="value" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element minOccurs="0" name="GetDataResult" nillable="true" type="xs:string" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContract">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/WcfLaboratorio.Calculadora" minOccurs="0" name="composite" nillable="true" type="q1:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="GetDataUsingDataContractResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q2="http://schemas.datacontract.org/2004/07/WcfLaboratorio.Calculadora" minOccurs="0" name="GetDataUsingDataContractResult" nillable="true" type="q2:CompositeType" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarOperacionBinaria">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q3="http://schemas.microsoft.com/2003/10/Serialization/" minOccurs="0" name="elOperador" type="q3:char" />
        <xs:element xmlns:q4="http://schemas.datacontract.org/2004/07/Core.Numero" minOccurs="0" name="elPrimerNumero" nillable="true" type="q4:Numero" />
        <xs:element xmlns:q5="http://schemas.datacontract.org/2004/07/Core.Numero" minOccurs="0" name="elSegundoNumero" nillable="true" type="q5:Numero" />
        <xs:element xmlns:q6="http://schemas.datacontract.org/2004/07/Core.Numero" minOccurs="0" name="Resultado" nillable="true" type="q6:Numero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="RealizarOperacionBinariaResponse">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q7="http://schemas.datacontract.org/2004/07/Core.Numero" minOccurs="0" name="RealizarOperacionBinariaResult" nillable="true" type="q7:Numero" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>