WcfLaboratorio.Calculadora/Calculadora/Service References/ServiceReferenceCalculadora/service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="MiCalculadora" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import namespace="http://tempuri.org/" />
      <xsd:import namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/WcfLaboratorio.Calculadora" />
      <xsd:import namespace="http://schemas.datacontract.org/2004/07/Core.Numero" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IMiCalculadora_GetData_InputMessage">
    <wsdl:part name="parameters" element="tns:GetData" />
  </wsdl:message>
  <wsdl:message name="IMiCalculadora_GetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IMiCalculadora_GetDataUsingDataContract_InputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContract" />
  </wsdl:message>
  <wsdl:message name="IMiCalculadora_GetDataUsingDataContract_OutputMessage">
    <wsdl:part name="parameters" element="tns:GetDataUsingDataContractResponse" />
  </wsdl:message>
  <wsdl:message name="IMiCalculadora_RealizarOperacionBinaria_InputMessage">
    <wsdl:part name="parameters" element="tns:RealizarOperacionBinaria" />
  </wsdl:message>
  <wsdl:message name="IMiCalculadora_RealizarOperacionBinaria_OutputMessage">
    <wsdl:part name="parameters" element="tns:RealizarOperacionBinariaResponse" />
  </wsdl:message>
  <wsdl:portType name="IMiCalculadora">
    <wsdl:operation name="GetData">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiCalculadora/GetData" message="tns:IMiCalculadora_GetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiCalculadora/GetDataResponse" message="tns:IMiCalculadora_GetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiCalculadora/GetDataUsingDataContract" message="tns:IMiCalculadora_GetDataUsingDataContract_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiCalculadora/GetDataUsingDataContractResponse" message="tns:IMiCalculadora_GetDataUsingDataContract_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="RealizarOperacionBinaria">
      <wsdl:input wsaw:Action="http://tempuri.org/IMiCalculadora/RealizarOperacionBinaria" message="tns:IMiCalculadora_RealizarOperacionBinaria_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/IMiCalculadora/RealizarOperacionBinariaResponse" message="tns:IMiCalculadora_RealizarOperacionBinaria_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IMiCalculadora" type="tns:IMiCalculadora">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetData">
      <soap:operation soapAction="http://tempuri.org/IMiCalculadora/GetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDataUsingDataContract">
      <soap:operation soapAction="http://tempuri.org/IMiCalculadora/GetDataUsingDataContract" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="RealizarOperacionBinaria">
      <soap:operation soapAction="http://tempuri.org/IMiCalculadora/RealizarOperacionBinaria" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="MiCalculadora">
    <wsdl:port name="BasicHttpBinding_IMiCalculadora" binding="tns:BasicHttpBinding_IMiCalculadora">
      <soap:address location="http://localhost:8733/Design_Time_Addresses/WcfLaboratorio.Calculadora/Service1/" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>